
:root{
    --primary-color:#fff;
}
html {
  scroll-behavior: smooth;
  
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'DejaVu Sans Book', sans-serif;
  }
  @font-face {
    font-family: 'DejaVu Sans Book';
    src: 
         url('../fonts/ttf/DejaVuSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: 'DejaVu Sans Bold';
    src: 
         url('../fonts/ttf/DejaVuSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: 'DejaVu Sans Light';
    src: 
         url('../fonts/ttf/DejaVuSansCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: 'Origin Tech';
    src: 
         url('../fonts/ttf/OriginTechpersonaluse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
a{
  text-decoration:none;
}
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10; /* Ensure the navbar stays on top */
  }
  .navbar .btn-close{
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
  .navbar-collapse.collapse.show {
    display: block !important; /* Ensure the menu is visible when toggled */
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Always hide the navbar collapse unless it's shown by the toggle button */
.navbar-collapse.collapse:not(.show) {
    display: none !important;
}

/* Optional: Add transition for smoother opening */
.navbar-collapse {
    transition: max-height 0.3s ease;
}
.custom-navigation .navbar-toggler{
    border:none;
}
.custom-navigation .navbar-toggler:focus{
    box-shadow:none;
}
  .custom-navigation ul li a{
color:#636363 !important;

  display: inline-block;
position:relative;
font-size: 1.2rem;
    font-weight: 600;
    line-height: 2.1;
  }
  .custom-navigation ul li a:after{
    content: '';
  position: absolute;
  width: 0;
  height: 2px; /* Adjust the height of the underline */
  bottom: 7px;
  left: 0;
  background-color: #fff; /* Adjust the color of the underline */
  transition: width 0.3s ease-in-out;
  }
  .offcanvas{
    background-color:#1b1b1b;
  }
  .offcanvas-body.listingitems {
    position: absolute;
    top: 9.16667rem;
    left: 1.66667rem;
  }
  .offcanvas-body .nav-link:hover::after,
.offcanvas-body .nav-link.active::after {
  width: 100%;
}
.custom-navigation ul li a:hover{
  cursor:pointer;
}
  .custom-navigation ul li a:hover, .custom-navigation ul li a.active {
    color:#fff !important
  }
  .custom-navigation ul li {
    display: block;
  }
  .viewport {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    flex: 1; /* Take remaining vertical space */
    overflow: hidden;
  }
  
  .dots {
    position: absolute;
    width: 45px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  
  .dots-item {
    position: relative;
    z-index: 2;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-top: 8px;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }
  
  .dots-item:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  
  .dots-item.active {
    background: rgba(255, 255, 255, 1);
  }
  
  .slider {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    overflow:hidden;
  }
  
  .slider-item {
    width: 100%;
    min-height: 100vh;
    background: #1c202f;
  }
  
  /* .slider-item:nth-child(even) {
   
  } */
  
  /* monetize section  */
  #adxo{
    height:520px;
    position:relative;
    left:-406px;
    letter-spacing:1px;
    bottom:-80px;
}
#adxo path {
stroke-dasharray:1578; /* Adjust this to match your path length */
stroke-dashoffset: 1578; /* Adjust this to match your path length */
animation: line-anim 5s ease forwards;
}
#adxo path.d{
stroke-dasharray:3578; /* Adjust this to match your path length */
stroke-dashoffset: 1578; /* Adjust this to match your path length */
animation: line-anim 5s ease forwards;
}
@keyframes line-anim {
to {
stroke-dashoffset: 0;
}
}

@keyframes fill1 {
from {
fill: transparent;
}
to {
fill: white;
}
}

.slider-item1{
  background-image: url(../images/bg-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
  .slider-item1{
    padding-top:200px;
  }
  .monetize h1{
    color: var(--primary-color);
    font-size:clamp(2rem, 5vw, 3.5rem);
 
  
  }
  .monetize p{
    color: var(--primary-color);
    font-size: clamp(18px, 2vw, 20px);
   
  }
  .stroketext{
    height:52.5vh; 
    overflow-y:hidden;
    /* border-bottom:2px solid red */
  }
  .stroketext h2{
    color:transparent;
    -webkit-text-stroke:2px var(--primary-color);
    font-size:550px;
    position:relative;
    bottom :79px;
    margin-left:-66px;
    font-weight:lighter;
    letter-spacing:-20px;
    font-family:'DejaVu Sans Light';
    
  }
  .stroketext .ax{
    bottom:-70px ;
    position:relative;
  }
  .stroketext .ax{
    font-size:725px;
  }
  .oo{
    margin-left:-40px
    
  }

 .firstpage-image {
margin-top:-103px;
 }
 .section-monetize-title  {
  font-size: 9.16667rem ;
  font-weight: 600;
  position: absolute;
  z-index: 2;
  top: 50%;
  right:18.91667rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  text-transform:UPPERCASE;
  opacity: 1;
  color: #fff;
  font-family:'Origin Tech';
}

.section-monetize-title span {
  position: absolute;
  top: 50%;
  /* left: 50%; */
  overflow: hidden;
  -webkit-transition: all .5s .6s ease-out;
  transition: all .5s .6s ease-out;
  -webkit-transform: translate(-50%,-50%) rotate(-90deg);
  -ms-transform: translate(-50%,-50%) rotate(-90deg);
  transform: translate(-50%,-50%) rotate(-90deg);
  white-space: nowrap;
  letter-spacing: 0;
  opacity: 1;
}
 /* second page  */
 .second-page{
    z-index:2;
    background-image: url(../images/bg-2.jpg);
    background-size: cover;
    background-repeat:no-repeat;
 }
 .second-page .ascending{
    background-color:rgba(28, 33, 46, 0.76);
 }
 .second-page .ascending h2{
    font-size:clamp(22px, 2vw, 32px);
    font-family: 'DejaVu Sans Bold';
 }
 .second-page .ascending p{
    font-size:clamp(14px, 2vw, 20px);
 }
 .ascending h2 {
    position: relative;
    display: inline-block;
    padding-bottom: 12px; /* Space for the underline */
    font-weight: bold;
}

.ascending h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 84%;
    height: 5px; /* Height of the underline */
    background: #fff;
    border-radius: 50%; /* Curve the underline */
    transform: translateX(-50%);
}
/* third page  */
.third-page{
  /* background-image: url(../images/bg-33.webp); */
  /* background-image: url(../images/bg-3334.png); */
  background-image: url(../images/bg-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  
}

.third-page h2{
text-transform:uppercase;
font-family:'Origin Tech';
font-size: clamp(34px,3vw, 54px);

}
.third-page .net-img img{
  width:90px;
}
.third-page .net-img{
  position: relative;
    display: inline-block;
}
.circle-shadow {
  width: 150px;  /* Circle width */
  height: 150px; /* Circle height */

  border-radius: 50%; /* Makes the div a circle */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Shadow around the circle */
  display: flex; /* Centers the image within the circle */
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  margin: 0 auto; /* Centers the circle-shadow div */
}
.circle-shadow:hover{
  transform: scale(1.17);
  transition:0.3s ease-in-out;
}
.third-page .netdays h3.net-text{
  font-family:'Origin Tech';
  text-transform:uppercase;
  font-size:clamp(1.52em, 2vw,2rem);
}
.third-page .third-page-para{
  text-transform: capitalize;
  font-size:clamp(16px, 2vw, 25px);
   font-family:'DejaVu Sans Book', sans-serif;
}
.third-page .section-history-title  {
  font-size: 12.16667rem;
  font-weight: 600;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 7.91667rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  text-transform:UPPERCASE;
  opacity: .05;
  color: #fff;
  font-family:'Origin Tech';
}
.third-page .section-history-title span {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  -webkit-transition: all .5s .6s ease-out;
  transition: all .5s .6s ease-out;
  -webkit-transform: translate(-50%,-50%) rotate(-90deg);
  -ms-transform: translate(-50%,-50%) rotate(-90deg);
  transform: translate(-50%,-50%) rotate(-90deg);
  white-space: nowrap;
  letter-spacing: 0;
  opacity: 1;
}
/* fourth page  */
.fourth-page{
  /* background-image: url(../images/bg-3334.png); */
  background-image: url(../images/bg-1.png);
  background-size: cover;
  position: relative;
}
.fourth-page .section-history-title, .fifth-page .section-history-title  {
  font-size: 12.16667rem;
  font-weight: 600;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 7.91667rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  text-transform:UPPERCASE;
  opacity: .05;
  color: #fff;
  font-family:'Origin Tech';
}
.fifth-page .section-history-title{
  font-size:6rem !important;
}
.fourth-page .section-history-title span, .fifth-page .section-history-title span {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  -webkit-transition: all .5s .6s ease-out;
  transition: all .5s .6s ease-out;
  -webkit-transform: translate(-50%,-50%) rotate(-90deg);
  -ms-transform: translate(-50%,-50%) rotate(-90deg);
  transform: translate(-50%,-50%) rotate(-90deg);
  white-space: nowrap;
  letter-spacing: 0;
  opacity: 1;
}
.fourth-page .experience-block{
  position: relative;
  display: inline-block;
  padding: 1.75rem;
  white-space: nowrap;
  /* border: 1px solid #fff; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius:7px;
  
}
.fourth-page .experience-block:hover{
  transform: scale(1.07);
  transition:0.3s ease-in-out;
}
.experience-block-number {
   font-size: 18.08333rem;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}
.experience-block-title {
 
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.481;
  position: relative;
  margin: 0;
  text-align: right;
  color: #fff;
}
.experience-block-title::before {
  position: absolute;
  bottom: .83333rem;
  left: 0;
  width: 5rem;
  height: 1px;
  content: '';
  background-color: #fff;
}
.fourth-page .history-text .arrow-icon i{
  font-size:50px;
  color:#8A8B8B;
  width:45px;
}
.fourth-page .history-text .headline h4{
  font-size:18px;
  font-weight:500;
  text-transform: uppercase;
  color:#757B8B;
  
  
}
.fourth-page .history-text .headline h4 span{
  font-weight:600;
  font-size:40px;
}
.history-text-heading p{
  font-size:clamp(14px, 2vw, 20px);
}
/* fifth page starts  */
.fifth-page{
  background-image: url(../images/bg-1.png);
  /* background-image: url(../images/bg-3334.png); */
  background-size: cover;
  position: relative; 
}
.fifth-page .contact-headings h2{
  font-size:clamp(36px, 2vw, 41px);
 
}
.fifth-page .contact-headings-para p{
color: #9999;
font-size: clamp(1.2rem, 2vw, 2.5rem);
font-weight: 400;
line-height: 1.1em;
  }
  .required-label{
    color: #ff0000 !important;
    
  }
  .fifth-page .submitbutton{
    background-color: #eee !important;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1em;
    padding: 10px 15px;
    border-radius:0
  }
  .fifth-page .submitbutton:hover{
    background-color:#ddd !important;
    transform:translateY(-5px);
    transition:0.3s ease-in-out;
    
  }
.fifth-page form{
  box-shadow: 1px 1px 57px rgb(199 199 199 / 15%);
  border-radius: 25px 25px 35px 35px;
  width: 100%;
  padding: 53px 30px 60px;
  background-color: var(--e-global-color-white);
  /* border: 1px solid white; */
  border-bottom: 2px solid #ffffff;
  transition: all 0.3s ease-in-out;
  /* text-align: center; */
  position: relative;
}

  /* blog page  */
  .blogss{
    background-image: url(../images/business-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    min-height:32rem;
    width:100%;
    position:relative;
    display:flex;
    align-items: center;

  }
  .blogss .features-heading{
    margin: 0;
   
    font-size: 52px;
    font-weight: 700;
    line-height: 56px;
    color: #ffffff;
  }
  .blogss:before {
    content: '';
    background-image: linear-gradient(107deg, #1c202f 13%, #1c202f5a 100%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.blogss .list-items ul li {
  display: inline-block;
  font-size: 18px;
  color: #36c2ad;
  position: relative;
  margin-right: 14px;
  font-weight: 600;
}
  .blog-post{
    background-color: white;
    font-family:'DejaVu Sans Light';
  }
  .blog-post .thumb-wrap{
    position: relative;
    margin-bottom: 0;
    overflow:hidden;
  }
  .blog-post .thumb-wrap:hover img{
    transform: scale(1.07);
    transition:0.3s ease-in-out;
  }
  .post .thumb-wrap > a{
    display:block;
  }
  .blog-post .thumb img{
    width:100%;
  }
  .blog-content{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -65px;
    padding: 25px 20px 30px;
    background-color: white;
    position: relative;
    text-align:center;
  }
  .blog-content h3 a{
    color:#1b1b1b ;
   font-weight:bold;
   letter-spacing:1.5px;
  }
  .blog-content h3 a:hover{
    color:#36c2ad;
  }
  .blog-content .entry-summary{
    font-size:15px;
  }
  .blog-content-text{
    font-size:15px;
  }
  .sidebar-items .widget-title{
    background-color: #36c2ad;
    font-size:18px;
    color:#fff;
    padding:12px 35px;
    font-family:'DejaVu Sans Light';
    
    text-align:center;
  }
  .sidebar-items .widget-content .info p{
    font-size:15px;
    text-align:center;
  }
  .widget_categories ul li {
    font-size: 16px;
    text-transform: capitalize;
    display: block;
    line-height: 1em;
    font-weight: 500;
    padding-top: 17px;
    padding-bottom: 17px;
    -webkit-transition: all 0.25s ease-in 0s;
    transition: all 0.25s ease-in 0s;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    color: #fff;
    list-style-type: none;
}
.widget_categories ul li a{
  color:#fff;
}
.widget_categories ul li a:hover, .widget_categories ul li a:hover span{
  color:#36c2ad;
}
.widget_categories ul > li:first-child {
  padding-top: 5px !important;
  margin-top: 0 !important;
}
.widget_categories ul li .count{
  float: right;
  color: #fff;
}

.widget-post-list .post {
  margin-bottom: 30px;
  background-color: transparent;
  box-shadow: 0 0 0px 0 transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.widget-post-list .post > .thumb-wrap {
  overflow: hidden;
  position: relative;
  width: 90px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.widget-post-list .post .content-entry-wrap {
  padding-left: 15px;
  margin-top: -3px;
}
.widget-post-list .post .entry-title {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 10px;
}
.widget-post-list .post .entry-meta-content {
  margin-bottom: 0px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #676767;
}
.content-entry-wrap .entry-title a{
  color:#fff;
}
.content-entry-wrap .entry-title a:hover{
  color:#36c2ad;
}